<!DOCTYPE html>
<html id="page">
   <head>
      <title>Programacion 3</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge;"/>
      <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet"/>
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet"/>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous" ></script> 
   </head>
   <body>

      <!-- HEADER -->
      <div class="header header-fixed unselectable header-animated">
         <div class="header-brand">
            <div class="nav-item no-hover">
               <h6 class="title">Programacion 3</h6>
            </div>
            <div class="nav-item nav-btn" id="header-btn"> <span></span> <span></span> <span></span> </div>
         </div>
         <div class="header-nav" id="header-menu">
            <div class="nav-left">
               <div class="nav-item text-center">  <span class="icon"> <i class="fas fa-code"></i> </span> </div>
            </div>

         </div>
      </div>

      <section class="section">
         <div class="hero ">
            <div class="hero-body">
               <div class="content">

               <!-- ROOT -->
               <div id="root" class="row">
               </div>

               <div class="row">
                  <div class="col-12 ">

                     <button class="card"><i class="fas fa-angle-left"></i>    Volver</button>
                     <div class="card ">
                        <div class="hero-body">
                            <div class="content">
                              <div class="row">
                                 
                                 <div class="col-4 uppercase">
                                     <div class="uppercase">
                                       <figure class="fig"><img class="img-cover card" src="https://camo.githubusercontent.com/eb6a385e0a1f0f787d72c0b0e0275bc4516a261b96a749f1cd1aa4cb8736daba/68747470733a2f2f612e736c61636b2d656467652e636f6d2f64663130642f696d672f617661746172732f6176615f303032322d3531322e706e67" style="background: rgb(238, 238, 238); height: 350px;">
                                      
                                       </figure>
                                       <button class="btn-danger u-center">Descartar <i class="far fa-trash-alt"></i></button>
                                     </div>
                                 </div>
                                 <div class="col-1 ">
                                </div>
                                 <div class="col-7">
                                     <div>
                                        <h4> Nombre y Apellido </h4>
                                        <ul>
                                        <li>Fecha de nacimiento (edad)</li>
                                        <li>Nacionalidad</li>
                                        <li>Codigo postal</li>
                                        <li>Fecha de registro</li>
                                        <li>Telefono</li>
                                        <li>Email</li>
                                       </ul>



                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>

                  </div>
              </div>


            </div>
         </div>

      </section>
   </body>
</html>